@media (orientation: landscape){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
    }
    body{
        background-color: #011420;
        color: white;
    }
    /* Painel de controle */
    header{
        background-color: #000e19;
        border-bottom: 3px solid white;
        width: 100%;
        height: 13vh;
        display:flex;
        justify-content:space-between;
        align-items: center;
        justify-items: center;
        padding-right: 5%;
    }
    #logo{
        width: 105px;
        height: 100px;
    
    }
    .painel{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        height: 40%;
    }
    .topmenu{
        width: 15%;
        height: 95%;
        background-color: #000e19;
        color: white;
        font-style: italic;
        font-weight: 700;
        font-family: "YALBszUSD-E 0", _fb_, auto;
        font-size: 15px;
        transition: 0.2s
    }
    .topmenu:hover{
        text-decoration: underline;
        width: 18%;
        height: 100%;
        font-size: 17px;
        transition: 0.2s
    }
    .conteudo{
        display: flex;
        flex-wrap: wrap;
    }
    
    
    /* Barra lateral */
    aside{
        height: 87vh;
        width: 7%;
        background-color: #FA4848;
        display: flex;
        transition: 0.3s;
    }
    aside:hover{
        width: 22%;
        transition: 0.2s;
        .aside_text{display:flex};
        .aside_text{font-size: 25px}
    }
    
    .slide_menu{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 7%;
        height: 90%;
        width: 100%;
    }
    .aside_menu{
        width: 90%;
        height: 100px;
        background-color: #FA4848;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .aside_menu img{
        width: 90px;
        height: 65%
    }
    .aside_text{
        display:none;
        color: white;
        font-family: "YALBszUSD-E 0", _fb_, auto;
        font-weight: 530;
    }
    
    /* miolo */
    .content{
        padding-left: 3%;
        padding-right: 3%;
        display: flex;
        flex-wrap: wrap;
        flex: 1 1 65%;
    }
    .content h2{
        font:"Bebas Neue";
        padding-top: 5px;
        margin: 2%;
    }
    .caixas_meio{
        width: 100%;
        height: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
    }
    .ofertas{
        border-radius: 20px;
        width: 23%;
        height: 100%;
        background-color: #4ecdc4;
        position: relative
    }
    .top_image{
        width:100%;
        height: 45%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .texto{
        color: white;
        width: 100%;
        height: 45%;
        position:absolute;
        top: 38%;
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-left: 15px;
        flex: 1 1 50px;
    }
    .titulo{
        font-size: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-bottom: 10px
    }
    .firstline{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
    }
    .secondline pre{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 14px;
    }
    .dashbutton{
        width: 80%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 5%;
        left: 10%;
        border-radius: 25px;
        border: 3px solid #FA4848;
        background-color: #FA4848;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 20px;
        transition: 0.3s
    }
    .dashbutton:hover{
        background-color: #000e19;
        color: white;
        border: 3px solid #FA4848;
        transition: 0.3s;
    }
}


/* até 1024px */
@media (max-width: 1020px){
    header{
        height: 14vh;
    }
    .painel{
        width: 80%;
    }
    /* Barra lateral */
    aside{
        height: 186vh;
        width: 9%;
    }
    aside:hover{
        width: 25%;
    }
    .slide_menu{
        height: 50%;
        padding-left: 3%;
    }
    
    /* miolo */
    .content{
        height: 186vh;
    }
    .caixas_meio{
        margin-top: -20%;
        height: 80%;
    }
    .ofertas{
        width: 45%;
        height: 45%;
    }
}